<div id='modal-select-device' class='modal fade'>
  <div class='modal-header'>
    <%= link_to 'x', '#', class: 'close', :'data-dismiss' => 'modal' %>
    <h3>Select device</h3>
  </div>

  <div class='modal-body'>
    <%= info_messages(close_button: true) %>
  </div>

  <div class='modal-footer'></div>
</div>
