<% content_for :bottom_inline_javascripts do %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places' %>
  <%= javascript_include_tag 'http://code.google.com/apis/gears/gears_init.js' %>
<% end %>

<div class='row-fluid'>
  <div class='span3'>
    <%= text_field_tag :search, nil, placeholder: t('map.search_placeholder'), class: 'span3'  %>
  </div>

  <div class='span9'>
    <div id='google-map' style='width: 100%; min-height: 500px;'></div>
  </div>
</div>

<!--
<div id='page' style='min-height: 500px; height: 80%;'>
  <div id='google-map' style='min-width: 650px; height: 100%;'></div>
</div>
-->
