<ul class='nav'>
  <li><%= link_to t('navbar.main'), root_path %></li>
</ul>

<ul class='nav pull-right'>
  <li><%= link_to t('navbar.register'), signup_path %></li>
  <li><%= link_to t('navbar.sign_in'), signin_path %></li>
</ul>
