<ul>
  <div id='top-bar-left'>
    <li><div class='css-box-shadow'><%= link_to 'Main', root_path %></div></li>
    <li><div class='css-box-shadow'><%= link_to 'Logged Out Menu', '#' %></div></li>
  </div>
  <div id='top-bar-right'>
    <li><div class='css-box-shadow'><%= link_to t(:sign_in), '#', id: 'signin' %></div></li>
    <li><div id='signin-dropdown'><%= render 'shared/signin_dropdown' %></div></li>
  </div>
</ul>
