<ul>
  <div id='top-bar-left'>
    <li><div><%= link_to 'Logged Out Menu', '#' %></div></li>
    <li><div><%= link_to 'There will be other links', '#' %></div></li>
  </div>
  <div id='top-bar-right'>
    <li><div><%= link_to t(:sign_out), signout_path, id: 'signout' %></div></li>
  </div>
</ul>
