<ul>
  <div id='top-bar-left'>
    <li><div class='top-bar-box-shadow'><%= link_to 'Main', root_path %></div></li>
    <li><div class='top-bar-box-shadow'><%= link_to 'Logged In Menu', '#' %></div></li>
  </div>
  <div id='top-bar-right'>
    <li><div class='top-bar-box-shadow'><%= link_to t(:sign_out), signout_path, id: 'signout' %></div></li>
  </div>
</ul>
