/* REGULAR */
* {
  font-family: 'Podkova', sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

input {
  font-size: 1em;
  border: 1px solid #AAA;
  background-color: #DDD;
}

span.css-required-field,
span.formError {
  color: red;
  font-size: 0.9em;
  font-style: italic;
}

span.css-field-with-errors input {
  border: 1px solid red;
}

div.css-pre-table a.css-new {
  float: right;
  margin-top: -50px;
  padding-right: 25px;
  text-decoration: none;
}

table.css-admin {
  width: 100%;
  border-spacing: 0;
}

table.css-admin th {
  background-color: #CDCDCD;
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
  text-shadow: 1px 1px 0 #EFEFEF;
}

table.css-admin td {
  border-bottom: 1px solid #DDDDDD;
  padding: 5px 10px;
}

table.css-admin td.css-actions {
  text-align: right;
}

fieldset.css-admin {
  margin-top: 20px;
}

fieldset.css-admin p {
  padding: 0px 10px 20px;
}

div.css-submit {
  padding: 22px;
}

/* TOP BAR */
#top-bar {
  height: 30px;
}

#top-bar-content {
  top: 0px;
  height: 30px;
  width: 100%;
  background-color: #333399;
  position: fixed;
}

#top-bar-content ul {
  list-style: none;
}

#top-bar-content li {
  display: inline;
  float: left;
}

#top-bar-content a {
  display: block;
  color: #CCC;
  text-decoration: none;
  margin-top: 5px;
}

#top-bar-content div.css-box-shadow {
  height: 28px;
}

#top-bar-content div.css-box-shadow:hover,
#top-bar-content div.css-box-shadow.selected {
  background: white;
  border: 1px solid white;
  box-shadow: 0 0 10px white;
}

#top-bar-content div.css-box-shadow:hover a,
#top-bar-content div.css-box-shadow.selected a {
  color: black;
}

#top-bar-left,
#top-bar-right {
  top: 0;
  position: absolute;
  white-space: nowrap;
  height: 30px;
}

#top-bar-left {
  left: 0;
  padding-left: 10px;
}

#top-bar-left a {
  margin-right: 10px;
  padding-left: 10px;
}

#top-bar-right {
  right: 0;
  padding-right: 10px;
}

#top-bar-right a {
  margin-left: 10px;
  padding-right: 10px;
}
