/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/* REGULAR */
body {
  margin: 0;
}

/* TOP BAR */
#top-bar {
  height: 30px;
}

#top-bar-content {
  top: 0px;
  height: 30px;
  width: 100%;
  background-color: #2D2D2D;
  position: fixed;
}

#top-bar-content ul {
  list-style: none;
}

#top-bar-content li {
  display: inline;
  float: left;
}

#top-bar-content a {
  display: block;
  color: #CCC;
  text-decoration: none;
  margin-top: 5px;
}

#top-bar-content li div {
  height: 28px;
}

#top-bar-content li div:hover,
#top-bar-content li div.selected {
  background: white;
  border: 1px solid white;
  box-shadow: 0 0 10px white;
}

#top-bar-content li div:hover a,
#top-bar-content li div.selected a {
  color: black;
}

#top-bar-content #top-bar-left,
#top-bar-content #top-bar-right {
  top: 0;
  position: absolute;
  white-space: nowrap;
  height: 30px;
}

#top-bar-content #top-bar-left {
  left: 0;
  padding-left: 10px;
}

#top-bar-content #top-bar-left a {
  margin-right: 10px;
  padding-left: 10px;
}

#top-bar-content #top-bar-right {
  right: 0;
  padding-right: 10px;
}

#top-bar-content #top-bar-right a {
  margin-left: 10px;
  padding-right: 10px;
}

#top-bar-content #top-bar-right #signin-dropdown {
  display: none;
  width: 260px;
  height: auto;
  position: absolute;
  box-shadow: -5px 5px 5px #CCC;
  border: 1px solid white;
  background: white;
  right: 0;
  top: 30px;
}
