/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
*/

div.page-content {
  min-height: 400px;
}

div.page-content div.span3,
div.page-content div.span3 div.well,
div.page-content div.span3 div.well div.table-devices,
div.page-content div.span9,
div.page-content div.span9 div.well,
div.page-content div.span9 div.well div#google-map {
  height: inherit;
}

div.page-content div.span3 div.table-devices {
  overflow: auto;
}

div.page-content div.span9 div#google-map {
  width: 100%;
}

div.page-content div.span9 div#google-map label {
  width: auto;
  display: inline;
}

div.page-content div.span9 div#google-map img {
  max-width: none;
}
