#registration-form.signin p.error {
  color: red;
  text-align: center;
}

#registration-form.signin span.field_with_errors input,
#signin-dropdown span.field_with_errors input {
  border: 1px solid #AAA;
}
