#registration-form.css-signin p.css-error {
  color: red;
  text-align: center;
}

#registration-form.css-signin span.css-field-with-errors input,
#signin-dropdown span.css-field-with-errors input {
  border: 1px solid #AAA;
}
